//  ==========================================================================
//  Sass Modules for Style
//  ==========================================================================

	a, a:active, a:visited{
		outline: none !important;
		-moz-outline: none !important;
		text-decoration: none !important;
	}
	
	img{ height: auto !important; }
	
	body, html{
		float: left;
		position: relative;
		display: block;
		height: 100%;
		width: 100%;
	}
	
	body{
		border-top: 6px solid $brand-red;
	}
	
	.full-width{
		float:left;
		position: relative;
		display: block;
		width: 100%;
	}
	
	.float-left{
		float: left;
		position: relative;
		display: block;
	}
	
	.float-right{
		float: right;
		display: block;
		position: relative;
	}
	
	.text-center{
		text-align: center;
	}
	
	.text-right{
		text-align: right;
	}
	
	.hide{
		@include opacity(0);
	}
	
	.visible{
		display: block !important;
		visibility: visible !important;
	}
	
	.clear-left{ clear: left; }
	
	a, h1, h2, h4{
		-webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
	   	backface-visibility: hidden;
	}

//  ==========================================================================
//  Load Addtl Modules
//  ==========================================================================
	@import 'grids';

//  ==========================================================================
//  Glphys
//  ==========================================================================

	.down-tick{
		display: inline-block;
		img{
			width: 12px;
			height: auto;
		}
	}
	
	.sep{
		border-top: 6px solid lighten($brand-grey,50%);
		width: 100%;
		@extend .float-left;
		&.sml { width: 10%; }
	}
	
//  ==========================================================================
//  Headings Fonts
//  ==========================================================================

	.h1{
		font: normal 44px/44px $gotham-light;
		color: $brand-grey;
	}
	
	.h2{
		font: normal 30px/32px $gotham-light;
		color: $brand-grey;
	}
	
	.standard-p{
		font: normal 14px/18px $gotham-light;
		&.large{
			font-size: 22px;
		}
	}
	
	.red{
		color: $brand-red;
		&:hover{
			text-decoration: underline !important;
		}
	}
	
//  ==========================================================================
//  Site Header
//  ==========================================================================
	
	.site-header{
		padding: 20px 0;
	}
	
//  ==========================================================================
//  Site Nav
//  ==========================================================================

	.primary-nav{
		padding: 0 20px 0 0;
		ul{
			margin: 0;
			padding: 0;
			li, a{
				@extend .full-width;
			}
		}
		a{
			padding: 8px 0;
			font: normal 14px $gotham-light;
			color: $brand-grey;
			@include transition-property(all);
			@include transition-duration(.2s);
			&:hover{
				color: $brand-red;
			}
		}
		li > ul{
			display: none;
			visibility: hidden;
			padding-left: 10px;
		}
		li:hover{
			ul{
				display: block;
				visibility: visible;
			}
		}
	}
	
	.primary-mobile-trigger{
		@extend .full-width;
		background: $brand-red;
		padding: 10px;
		color: white !important;
		text-transform: uppercase;
		display: none;
		visibility: hidden;
		@include box-sizing(border-box);
		&:hover{
			background: $brand-grey;
			color: white !important;
		}
	}

//  ==========================================================================
//  Homepage 
//  ==========================================================================

	.hp-hero{
		margin-bottom: 20px;
		.hp-hero-heading{
			margin: 0;
			position: absolute;
			bottom: 0px;
			background: $brand-red image-url('hp-hero-background.jpg') center bottom no-repeat;
			background-blend-mode: multiply;
			padding: 10px;
			font: normal 40px $gotham-light;
			color: white;
			@include background-size(cover);
			@include box-sizing(border-box);
			
		}
	}
	
//  ==========================================================================
//  Site Footer
//  ==========================================================================

	.site-footer{
		border-top: 1px solid #bbb;
		margin-top: 60px;
		.footer-nav{
			li, a{
				@extend .float-left;
			}
			a{
				@extend .standard-p;
				padding: 5px;
				color: $brand-grey;
				&:hover{
					color: $brand-red;
				}
			}
		}
	}
	
//  ==========================================================================
//  Themeatic Styles Below
//  ==========================================================================