//  ==========================================================================
//  Sass Modules for Style
//  ==========================================================================

	a, a:active, a:visited{
		outline: none !important;
		-moz-outline: none !important;
		text-decoration: none !important;
	}
	
	img{ height: auto !important; }
	
	body, html{
		float: left;
		position: relative;
		display: block;
		height: 100%;
		width: 100%;
	}
	
	body{
		border-top: 6px solid $brand-red;
	}
	
	.full-width{
		float:left;
		position: relative;
		display: block;
		width: 100%;
	}
	
	.float-left{
		float: left;
		position: relative;
		display: block;
	}
	
	.float-right{
		float: right;
		display: block;
		position: relative;
	}
	
	.pull-20{
		margin-top: 0px;
		margin-bottom: 30px;
	}
	.margin-top-20{
		margin-top: 20px !important;
	}
	
	.margin-top-40{
		margin-top: 40px !important;
	}
	
	.margin-top-60{
		margin-top: 60px !important;
	}
	
	.text-center{
		text-align: center;
	}
	
	.text-right{
		text-align: right;
	}
	
	.hide{
		@include opacity(0);
	}
	
	.visible{
		display: block !important;
		visibility: visible !important;
	}
	
	.clear-left{ clear: left; }
	
	a, h1, h2, h4{
		-webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
	   	backface-visibility: hidden;
	}

//  ==========================================================================
//  Load Addtl Modules
//  ==========================================================================
	@import 'grids';
	@import 'vendor/flexslider/flexslider';

//  ==========================================================================
//  Glphys
//  ==========================================================================

	.down-tick{
		display: inline-block;
		img{
			width: 12px;
			height: auto;
		}
	}
	
	.sep{
		border-top: 6px solid lighten($brand-grey,50%);
		width: 100%;
		@extend .float-left;
		&.sml { width: 10%; }
		&.inv{
			border-color: white;
		}
	}
	
//  ==========================================================================
//  Headings Fonts
//  ==========================================================================

	.h1{
		font: normal 44px/44px $gotham-light;
		color: $brand-grey;
	}
	
	.h2{
		font: normal 30px/32px $gotham-light;
		color: $brand-grey;
	}
	
	.standard-p{
		font: normal 15px/22px $gotham-light;
		color: $brand-med-grey;
		&.large{
			font-size: 22px;
		}
		strong{
			font-family: $gotham-black;
			font-weight: normal !important;
		}
		&.book{ font-family: $gotham-book; }
		&.dropdown{
			@extend .full-width;
			border-top: 1px solid #bbb;
			margin: 0;
			background: lighten($brand-grey,60%);
			padding: 20px;
			display: none;
			visibility: hidden;
			@include box-sizing(border-box);
		}
		a{
			color: $brand-red;
			&:hover{
				text-decoration: underline !important;
			}
		}
	}
	
	.primary-content-banner{
		background: $brand-red image-url('hp-hero-background.jpg') center bottom no-repeat;
		background-blend-mode: multiply;
		padding: 10px;
		font: normal 40px $gotham-light;
		color: white;
		margin: 0 0 10px 0;
		@include background-size(cover);
		@include box-sizing(border-box);	
	}
	
	.eyebrow{
		font-family: $gotham-light;
		font-size: 32px;
	}
	.red{
		color: $brand-red;
		&:hover{
			text-decoration: underline !important;
		}
		&.slash{
			letter-spacing: -3px;
			margin-right: 2px;
			display: inline-block;
			&:hover{
				text-decoration: none;
			}
		}
	}
	
	a.button,
	.button{
		display: inline-block;
		background: black;
		color: white !important;
		margin: 10px 0 0 0;
		padding: 8px 20px;
		&.red{
			background: $brand-red;
			&:hover{
				background: $brand-grey;
				text-decoration: none !important;
			}
		}
	}
	
//  ==========================================================================
//  Site Header
//  ==========================================================================
	
	.site-header{
		padding: 20px 0;
	}
	
//  ==========================================================================
//  Site Nav
//  ==========================================================================

	.primary-nav{
		padding: 0 20px 0 0;
		ul{
			margin: 0;
			padding: 0;
			li, a{
				@extend .full-width;
			}
		}
		a{
			padding: 8px 0;
			font: normal 14px $gotham-light;
			color: $brand-grey;
			@include transition-property(all);
			@include transition-duration(.2s);
			&:hover,
			&.active{
				color: $brand-red;
			}
		}
		li > ul{
			display: none;
			visibility: hidden;
			padding-left: 10px;
		}
	}
	
	.primary-mobile-trigger{
		@extend .full-width;
		background: $brand-red;
		padding: 10px;
		color: white !important;
		text-transform: uppercase;
		display: none;
		visibility: hidden;
		@include box-sizing(border-box);
		&:hover{
			background: $brand-grey;
			color: white !important;
		}
	}

//  ==========================================================================
//  General Containers
//  ==========================================================================

	.primary-content{
		.col{ padding-left: 0px; }
	}

//  ==========================================================================
//  Homepage 
//  ==========================================================================

	.hp-hero{
		margin-bottom: 20px;
		.hp-hero-heading{
			margin: 0;
			position: absolute;
			bottom: 0px;
			background: $brand-red image-url('hp-hero-background.jpg') center bottom no-repeat;
			background-blend-mode: multiply;
			padding: 10px;
			font: normal 40px $gotham-light;
			color: white;
			@include background-size(cover);
			@include box-sizing(border-box);
			
		}
	}
	
//  ==========================================================================
//  Login
//  ==========================================================================

	.panel-login{
		background: #e5e5e5 image-url('login-stripes.jpg') center right no-repeat;
		padding: 30px;
		@include box-sizing(border-box);
		@include background-size(contain);
		.h1{
			margin: 10px 0;
		}
	}
	
//  ==========================================================================
//  Parters
//  ==========================================================================

	.partner-img{
		border: 1px solid #bbb;
		background: white center center no-repeat;
		padding: 10px;
		min-height: 155px;
		@include background-size(contain);
		@include box-sizing(border-box);
	}
	
	.partner-row{
		padding-bottom: 20px;
		.col.span_7{
			padding-left: 20px;
		}
		.standard-p{
			margin-top: 0px;
			font-size: 14px;
			line-height: 18px;
			strong{
				font-family: $gotham-medium;
				font-size: 28px;
				padding-bottom: 20px;
				display: inline-block;
			}
		}
	}
	
//  ==========================================================================
//  Site Footer
//  ==========================================================================

	.site-footer{
		border-top: 1px solid #bbb;
		margin-top: 60px;
		.footer-nav{
			li, a{
				@extend .float-left;
			}
			a{
				@extend .standard-p;
				padding: 5px;
				color: $brand-grey;
				&:hover,
				&.active{
					color: $brand-red;
				}
			}
		}
	}
	
//  ==========================================================================
//  Themeatic Styles Below
//  ==========================================================================
	
	.quote-slider{
		margin-top: 40px !important;
		overflow: hidden;
		li{
			text-align: center;
		}
		.quote--heading{
			text-align: center;
			font: normal 32px $gotham-light;
		}
		.quote--source{
			font: normal 20px $gotham-light;
			color: $brand-grey;
			text-align: center;
		}
		.quote--heading, .quote--source{
			display: inline-block;
			width: 80%;
		}
		.slide-count{
			position: absolute;
			top: 5px;
			right: 10px;
			font: normal 20px $gotham-light;
			color: $brand-grey;
		}
	}
	
//  ==========================================================================
//  Flex Slider Overrides
//  ==========================================================================

	.flexslider{
		border: 1px solid #bbb;
		margin: 0;
		@include border-radius(0px);
		@include box-shadow(none);
	}
	
	.flex-direction-nav a{
		&::before{ font-size: 35px; }
		&:hover{ &::before{ color: $brand-red; } }
	}