@media screen and (max-width: 1060px){
	
	//  ==========================================================================
	//  Resize Primary Site Container
	//  ==========================================================================
	
		.site-container{
			width: 100%;
			left: 0;
			margin-left: 0px;
			padding: 0 10px;
			@include box-sizing(border-box);
		}
}

@media screen and (max-width: 720px){
	
	//  ==========================================================================
	//  Resize Header Elements
	//  ==========================================================================
	
		.site-header{
			text-align: center;
			padding:0;
			img{ width: 90%; }
		}
		
	//  ==========================================================================
	//  Primary Nav
	//  ==========================================================================
	
		.primary-nav{
			width: 100%;
			padding: 0px;
			@include box-shadow(inset 0px 0px 50px rgba(#bbb,.5));
			> ul{
				display: none;
				visibility: hidden;
				border: 1px solid #bbb;
				max-height: 200px;
				overflow: scroll;
				-webkit-overflow-scrolling: touch;
				@include box-sizing(border-box);
			}
			ul, li, a{ text-align: center; }
			li{
				> ul { 
					display: block; 
					visibility: visible; 
					margin: 0; padding: 0;
					li{ background: rgba(#bbb,.4); }
				}
			}
		}
		
		.primary-mobile-trigger{
			display: block;
			visibility: visible;
		}
	
	//  ==========================================================================
	//  Main Content
	//  ==========================================================================
	
		.primary-content{
			width: 100%;
			padding: 20px 0;
			
			.span_4,
			.span_5,
			.span_6,
			.span_7{
				width: 100%;
				clear: left;
			}
		}
		
		.hp-hero .hp-hero-heading{
			float: left;
			position: relative;
		}
		
		.standard-p.large{
			font-size: 26px;
			line-height: 28px;
		}
		
		.standard-p{
			br{
				display: none;
				visibility: hidden;
			}
			&.dropdown{
				margin-top: -16px;
				br{
					display: inline-block;
					visibility: visible;
				}
			}
		}
		
		.dropdown-trigger,
		.partner-dropdown-trigger{
			float: left;
			position: relative;
			width: 100%;
			text-align: center;
			padding: 5px 0;
			margin: 5px 0 0 0;
			border-top: 1px solid rgba($brand-red,.4);
			border-bottom: 1px solid rgba($brand-red,.4);
			font-size: 18px;
		}
		
	//  ==========================================================================
	//  Partners
	//  ==========================================================================
	
		.partner-row{
			.col.span_7{
				margin: 15px 0;
				padding: .5%;
			}
			.standard-p.dropdown{
				margin-top: -32px !important;
			}
		}
	
	//  ==========================================================================
	//  Pricing
	//  ==========================================================================
	
		.pricing-row{
			.pricing-left, .pricing-right{
				padding: .5%;
			}
			.span_4{
				width: 40%;
				clear: none;
			}
			.span_8{
				width: 60%;
				clear: none;
			}
			br{
				display: inline-block;
				visibility: visible;
			}
			.b-bottom{
				br{
					display: inline-block;
					visibility: visible;
				}
			}
		}
	
	//  ==========================================================================
	//  Our Team
	//  ==========================================================================
	
		.profile-row{
			.col.span_3{
				width: 100%;
				clear: left;
			}
		}
		.profile-details{
			padding: .5% !important;
			br{
				display: inline-block;
				visibility: visible;
			}
			&.exp{
				margin-top: 20px;
				padding-top: 20px !important;
				border-top: 1px solid #bbb;
			}
		}
		
	//  ==========================================================================
	//  Quote Module
	//  ==========================================================================
	
		.quote-slider{
			.quote--heading{
				font-size: 24px;
			}
			.quote--source{
				font-size: 18px;
			}
		}
		
	//  ==========================================================================
	//  Site Footer
	//  ==========================================================================
	
		.site-footer{
			margin-top: 20px;
			.footer-nav{
				width: 100%;
				float: left;
				ul{
					float: left;
					width: 100%;
					padding: 0px;
					margin: 0px;
				}
			}
		}
	
}